asyncpraw==7.2.0
Cybernator==0.6.3
asyncio==3.4.3
easy-pil==0.1.5
httpx==0.22.0
youtube_dl==2021.12.17
async-timeout
numpy==1.22.3
pymongo==4.0.2
Cybernator==0.6.3
disnake==2.4.0
ffmpeg==1.4
ffprobe==0.5
nsfw-dl==0.4.1
easy-pil==0.1.5
spotdl==3.9.3
TagScriptEngine==2.3.0
turtle
animec==0.4
random2==1.0.1
numpy==1.22.3
aiohttp
tabulate==0.8.9
traceback2==1.4.0
requests==2.27.1
math22==2.2
beautifulsoup4
